<div class="container-fluid row">
    <ul class="container col-md-3">
        <li>
            <a href="https://www.github.com/the-wonderfull-group">Our GitHub</a>
        </li>
        <li>
            <a href="https://www.github.com/happyfeetx">Malachi Austin, GitHub</a>
        </li>
        <li>
            <a href="https://www.github.com/shockemp">Meakoda Wilson, GitHub</a>
        </li>
    </ul>

    <ul class="container col-md-3">
        <li>
            <a href="https://www.facebook.com/malachiaustinx">Malachi Austin, Facebook</a>
        </li>
    </ul>
</div>