@page "/"

<div class="container text-center">
    <h1>The Wonderfull Group</h1>
    <hr>

    <p>
        The Wonderfull Group is an idea spawned from years of research into various projects.<br>
        <br>
        After seeing how so many projects have failed their intended user-bases, we decided that
        we would try to do differently. We have tried to discern why so many projects have failed
        the users they tried to serve, but we never were able to ascertain that information.<br>
        <br>
        One thing we did notice is that there's a startling lack of projects that <i>don't</i>
        cater to enthusiasts in the field of computer science, and more specifically, programming.<br>
        <br>
        Gaming is kind of similar in that category, as it is something that's quite difficult for
        new people to push into.<br>
        <br>
        These types of descrepencies are precisely why our mission statement is to cater to the middle. 
        The Wonderfull Group intends to provide services that help everyone, not just the top one or two
        percent of users.
    </p>
</div>
